@using Microsoft.AspNetCore.Http
@using RealEstateApp.Core.Application.Enums
@using RealEstateApp.Core.Application.Helpers
@using RealEstateApp.Core.Application.Dtos.Account

@inject IHttpContextAccessor httpContextAccesor
@{
    var user = httpContextAccesor.HttpContext.Session.Get<AuthenticationResponse>("user");
    var isClient = user != null ? user.Rol == Roles.Cliente.ToString() : false;
    var isAgent = user != null ? user.Rol == Roles.Agente.ToString() : false;
    var isAdmin = user != null ? user.Rol == Roles.Administrador.ToString() : false;

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealEstateApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RealEstateApp.styles.css" asp-append-version="true" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RealEstateApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if(user!=null)
                        {
                            <!--Aqui van las vistas compartidas-->
                           

                            if(isClient)
                            {
                                <!--Aqui van las vistas del cliente-->
                                <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Index">Home</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Agent" asp-action="ViewAgents">Agentes</a>

                                <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="MyFavoritesProperties" asp-route-clientId="@user.Id">Mis Propiedades</a>
                                
                            }

                            if(isAgent)
                            {
                                <!--Aqui van las vistas del agente-->
                                <a class="nav-link text-dark" asp-area="" asp-controller="Agent" asp-action="Index">Home</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Agent" asp-action="PropertyMaintenance">Mantenimiento de propiedades</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Agent" asp-action="EditAgent">Mi Perfil</a>
                            }


                            if (isAdmin)
                            {
                                <!--Aqui van las vistas del agente-->
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Home</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Agent" asp-action="AgentsList">Listado de los agentes</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminMaintenance">Mantenimiento de administradores</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Dev" asp-action="Index">Mantenimiento de desarrolladores</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="PropertyType" asp-action="Index">Mantenimiento de tipo de propiedades</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="SalesType" asp-action="Index">Mantenimiento de tipo de ventas</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Improvement" asp-action="Index">Mantenimiento de mejoras</a>


                            }

                            <!--Aqui van las vistas compartidas-->

                            <li class="nav-item align-content-end">
                                <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="User" asp-action="LogOut">Cerrar session </a>
                            </li>
                          
                         
                        }

                        else
                        {
                            <!--Aqui va las vistas principales (ANTES DEL LOGIN)-->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Unete a la App</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ViewAgents">Agentes</a>
                            </li>
                        }

                        
                     

                        
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - RealEstateApp - Lest go
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
